node_modules/
.env

node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.env
.env.*
!.env.example  # keep example template if needed

logs/
*.log
*.out
*.err

/pgdata/
*.pid
docker-compose.override.yml

*.sqlite
*.db
*.rdb
tmp/
cache/
__pycache__/

.vscode/
.idea/
.DS_Store
Thumbs.db
*.sw?
